### I have developed the program to predicted answers for given question from dataset for that i have used the pre-trained TAPAS model and tokenizer with Hugging face transformers in Python

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

from pylab import rcParams
from sklearn import preprocessing

In [2]:
%matplotlib inline
rcParams['figure.figsize'] = 5, 4
sb.set(style="white")
sb.set(style="whitegrid", color_codes=True)
plt.rc("font", size=14)

#### Read the dataset

In [3]:
address = "/Users/chalana/Desktop/Question generator/Question_Generator/ODI data.csv"
table  = pd.read_csv(address)

table = table.astype(str)
table

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,nan
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,nan
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,nan
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,nan
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,nan
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,nan
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,nan
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,nan
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,nan

In [4]:
print(table.shape)
print(table.columns)

(2500, 15)
Index(['Unnamed: 0', 'Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS',
       'Ave', 'BF', 'SR', '100', '50', '0', 'Unnamed: 13'],
      dtype='object')

#### Checking for missing values

In [5]:
print(table.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   object
 1   Player       2500 non-null   object
 2   Span         2500 non-null   object
 3   Mat          2500 non-null   object
 4   Inns         2500 non-null   object
 5   NO           2500 non-null   object
 6   Runs         2500 non-null   object
 7   HS           2500 non-null   object
 8   Ave          2500 non-null   object
 9   BF           2500 non-null   object
 10  SR           2500 non-null   object
 11  100          2500 non-null   object
 12  50           2500 non-null   object
 13  0            2500 non-null   object
 14  Unnamed: 13  2500 non-null   object
dtypes: object(15)
memory usage: 293.1+ KB
None

In [6]:
table.isnull().sum()

Unnamed: 0     0
Player         0
Span           0
Mat            0
Inns           0
NO             0
Runs           0
HS             0
Ave            0
BF             0
SR             0
100            0
50             0
0              0
Unnamed: 13    0
dtype: int64

In [7]:
# Rename the unnamed column
table.rename(columns={table.columns[0]: 'Pos'}, inplace=True)

print("DataFrame after renaming the unnamed column:")
table

DataFrame after renaming the unnamed column:

,Pos,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,nan
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,nan
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,nan
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,nan
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,nan
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,nan
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,nan
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,nan
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,nan

In [8]:
column_to_drop = 'Unnamed: 13'
table_new = table.drop(column_to_drop, axis=1)

print("\nDataFrame after dropping column '{}':".format(column_to_drop))
table_new

DataFrame after dropping column 'Unnamed: 13':

,Pos,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-

In [9]:
# query = "Who has scored the highest runs?"
# print(tqa(table=table,query=query)["answer"])

In [10]:
data = table_new.astype(str)

In [11]:
# Define the questions
queries = ["Who has scored the highest runs",
           "What is the average number of Runs?",
           "what is the Tendulkar HS?"]

print("Suggested Question :\n")

for i in queries:
    print(i)

Suggested Question :

Who has scored the highest runs
What is the average number of Runs?
what is the Tendulkar HS?

#### loads the pre-trained TAPAS model and tokenizer

In [12]:
from transformers import TapasTokenizer, TapasForQuestionAnswering
import pandas as pd

def load_model_and_tokenizer():
    # Load pretrained tokenizer: TAPAS finetuned on WikiTable Questions
    tokenizer = TapasTokenizer.from_pretrained("google/tapas-base-finetuned-wtq")

    # Load pretrained model: TAPAS finetuned on WikiTable Questions
    model = TapasForQuestionAnswering.from_pretrained("google/tapas-base-finetuned-wtq")

    return tokenizer, model

#### Generating Prediction

In [13]:
def generate_predictions(inputs, model, tokenizer):
    """
      Generate predictions for some tokenized input.
    """
    # Generate model results
    outputs = model(**inputs)

    # Convert logit outputs into predictions for table cells and aggregation operators
    predicted_table_cell_coords, predicted_aggregation_operators = tokenizer.convert_logits_to_predictions(
        inputs,
        outputs.logits.detach(),
        outputs.logits_aggregation.detach()
    )

    # Return values
    return predicted_table_cell_coords, predicted_aggregation_operators

#### Postprocessing Predictions

In [14]:
def postprocess_predictions(predicted_aggregation_operators, predicted_table_cell_coords, table):
    """
      Compute the predicted operation and nicely structure the answers.
    """
    # Process predicted aggregation operators
    aggregation_operators = {0: "NONE", 1: "SUM", 2: "AVERAGE", 3:"COUNT"}
    aggregation_predictions_string = [aggregation_operators[x] for x in predicted_aggregation_operators]

    # Process predicted table cell coordinates
    answers = []
    for coordinates in predicted_table_cell_coords:
        if len(coordinates) == 1:
            # 1 cell
            answers.append(table.iat[coordinates[0]])
        else:
            # > 1 cell
            cell_values = []
            for coordinate in coordinates:
                cell_values.append(table.iat[coordinate])
            answers.append(", ".join(cell_values))

    # Return values
    return aggregation_predictions_string, answers

#### Displaying Answers

In [15]:
def show_answers(queries, answers, aggregation_predictions_string):
    """
      Visualize the postprocessed answers.
    """
    for query, answer, predicted_agg in zip(queries, answers, aggregation_predictions_string):
        print("\n" + query)
        if predicted_agg == "NONE":
            print("Predicted answer: " + answer)
        else:
            print("Predicted answer: " + predicted_agg + " > " + answer)

#### Processing in Batches

In [16]:
def process_batch(table, queries, batch_size, model, tokenizer):
    num_samples = len(table)
    #for i in range(0, num_samples, batch_size):
    for i in range(0, num_samples, batch_size):
        batch_table = table.iloc[i:i+batch_size]
        inputs = tokenizer(table=batch_table, queries=queries, padding='max_length', return_tensors="pt")
        predicted_table_cell_coords, predicted_aggregation_operators = generate_predictions(inputs, model, tokenizer)
        aggregation_predictions_string, answers = postprocess_predictions(predicted_aggregation_operators, predicted_table_cell_coords, batch_table)
        show_answers(queries, answers, aggregation_predictions_string)

#### Running TAPAS

In [17]:
def run_tapas():
    tokenizer, model = load_model_and_tokenizer()

    # Define the table
    table = data

    batch_size = 2  # Set the batch size

    process_batch(table, queries, batch_size, model, tokenizer)

In [18]:
if __name__ == '__main__':
    run_tapas()

Who has scored the highest runs
Predicted answer: SR Tendulkar (INDIA)

What is the average number of Runs?
Predicted answer: AVERAGE > 18426, 14234

what is the Tendulkar HS?
Predicted answer: 200*

IndexError: iloc cannot enlarge its target object

In [ ]:
from transformers import pipeline

nlu = pipeline("table-question-answering", model="google/tapas-base-finetuned-wtq")

In [ ]:
while True:
    user_question = input("Ask a question or type 'exit' to quit: ")

    if user_question.lower() == 'exit':
        break

    # Perform NLU on the question
    #answer = nlu(context=table_new.to_string(), question=user_question)
    answer = nlu(table=table_new, query=user_question)

    print("Answer:", answer['answer'])